# ===============================
# 🗄️ MySQL Database
# ===============================
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=1
MYSQL_DATABASE=''
MYSQL_ROOT_PASSWORD=''


# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# AI Service
AI_SERVICE_URL=http://ai_service:8000

# JWT & App
JWT_SECRET=mysecret
PORT=3000
NODE_ENV=development
